$tablet: "screen and (min-width: 420px)";

@media #{$tablet} {
  nav {
    height: 100vh;
    width: 150px;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: $padding * 2;
    padding-right: 0;
    div:first-child{margin-right: $padding * 2;}
    div .menuicon{display: none;}
    div #dropdownmob{
      display: flex;
      flex-direction: column;
      position: static;
      background: $primarycolor;
      left: 0;
      bottom: 0;
      width: auto;
      height: auto;
      margin: 0;
      padding: $padding / 2;
      padding-right: 0;
      a {@include stortekst(10pt);}
      a .icon{
        @include stortekst(10pt);
        margin-right: $margin;
      }
      a:nth-of-type(2){
        width: 110%;
        background: white;
        border-radius: 8px 0 0 8px;
        margin: $margin * 1.5 0;
        padding: $padding * 1.5;
      }
      a:first-child{margin-bottom: 0;}
      a:nth-of-type(3){margin-top: 0;}
      a:last-child{margin-top: $margin * 9;}
    }
  }

}
/*nav{
  div{
  }
}
#menu:hover #dropdownmob{
  display: flex;
  flex-direction: column;
}*/